.front-page hr {
	height: 2px;
	background-color: #c1c1c6;
}

.logo {
	margin-top: 40px;
}

.head-title h1 {
	font-family: bangers;
	font-size: 4em;
	color: #67b790;
}

.head-title h3 {
	font-family: galdeano;
	color: #c1c1c6;
}

.feat-work {
	margin: 50px 0px 50px 0px;	
}

.feat-work h2 {
	font-family: galdeano;
	color: #005090;
	font-size: 2.5em;
	margin-bottom: 30px;
}

.feat-work h3 {
	font-family: Raleway;
}

.feat-work .illustrate-img {
	border: 1px solid #c1c1c6;
}
